* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #efefef;
  color: #919191;
}

h1, h2, h3, h4, h5, h6 {
  color: #545454;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card_link {
  text-decoration: none;
  color: #919191;
}

.header {
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__content {
  min-width: 920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #d3d3d3;
}
.header__content__logo {
  width: 100px;
}
.header__content__search {
  position: relative;
}
.header__content__search-input-wrapper {
  position: relative;
  width: 280px;
  padding-right: 20px;
}
.header__content__search-input {
  color: #acacac;
  background-color: #efefef;
  border: 1px solid #d3d3d3;
  width: 100%;
  padding: 16px;
  padding-right: 40px;
  border-radius: 32px;
}
.header__content__search-icon {
  position: absolute;
  right: 36px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.header__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
}
.header__user-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: solid 2px #545454;
  margin-right: 20px;
}
.header__user-access {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__user-access__welcome {
  font-size: 0.8rem;
}
.header__user-access__name {
  font-size: 1.2rem;
  font-weight: bold;
}
.header__user-arrow {
  padding-left: 20px;
}

.banner {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.banner__slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}
.banner__slides__slide {
  height: 100%;
  flex: 0 0 100%;
}
.banner__slides__slide__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.banner__slides__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.banner__slides__slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner__slides__slide__content .container {
  width: 100%;
}
.banner__slides__slide__content__text {
  width: 400px;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner__slides__slide__content__text h2 {
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.banner__slides__slide__content__text p {
  line-height: 1.6rem;
  margin-bottom: 20px;
}
.banner__slides__slide__content__text a {
  background-color: transparent;
  border: solid 2px #ffffff;
  padding: 10px 20px;
  width: 160px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 32px;
}
.banner__buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.banner__buttons button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 4rem;
  padding: 0 48px;
  cursor: pointer;
}
.banner__buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.courses {
  padding: 60px 0;
}
.courses-title {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 12px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 12px;
}
.courses__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding-top: 20px;
}
.courses__grid__course {
  width: 288px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.courses__grid__course__img-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.courses__grid__course__img-container__image {
  width: 100%;
  object-fit: cover;
}
.courses__grid__course__img-container .ribbon {
  position: absolute;
  top: 10px;
  right: -30px;
  width: 100px;
  background-color: #e3e601;
  text-align: center;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 0;
}
.courses__grid__course__content-container {
  width: 100%;
  padding: 16px;
  background-color: #ffffff;
}
.courses__grid__course__content-container__title {
  margin-bottom: 16px;
}
.courses__grid__course__content-container__description {
  margin-bottom: 24px;
}
.courses__grid__course__content-container__button {
  color: #ffffff;
  background-color: #01a02a;
  display: block;
  width: 100%;
  padding: 10px;
  border: solid 1px #01a02a;
  border-radius: 32px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  text-align: center;
}
.courses__grid__course__content-container__button:hover {
  transition: all 0.3s;
  background-color: #006c21;
}
.courses__grid__course-add {
  width: 288px;
  height: 100%;
  border: 3px dashed #9a9a9a;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.courses__grid__course-add__icon {
  margin-bottom: 12px;
}
.courses__grid__course-add__caption {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.courses__grid__course-add__caption-highlight {
  font-size: 1.6rem;
}
.courses__form {
  width: 60%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.courses__form__field {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.courses__form__field__input {
  width: 520px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
  border-radius: 32px;
}
.courses__form__button {
  color: #ffffff;
  background-color: #01a02a;
  width: 160px;
  padding: 10px;
  border: solid 1px #01a02a;
  border-radius: 32px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.courses__form__button:hover {
  transition: all 0.3s;
  background-color: #006c21;
}

.footer {
  background-color: #ffffff;
  padding-bottom: 20px;
}
.footer h3 {
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer__content .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  padding: 40px 0;
  background-color: #ffffff;
}
.footer__content__info__logo {
  margin-bottom: 16px;
}
.footer__content__info__description {
  width: 300px;
  font-size: 0.9rem;
}
.footer__content__contact p {
  font-weight: bold;
  line-height: 1.4rem;
}
.footer__content__social-media__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}
.footer__content__social-media__icons img {
  width: 48px;
}
.footer__copyright {
  background-color: #efefef;
  width: 100%;
}
.footer__copyright .container {
  padding: 10px 0;
  font-size: 0.9rem;
}

/*# sourceMappingURL=style.css.map */
