$mainColor: #919191;
$titleColor: #545454;
$backgroundColor: #efefef;
$inputBgColor: #efefef;
$inputBorderColor: #d3d3d3;
$cardBgColor: #ffffff;
$cardRibbonBgColor: #e3e601;
$buttonFgColor: #ffffff;
$buttonBgColor: #01a02a;
$footerBgColor: #e5e1e2;