@use 'config/reset.scss';
@use 'config/colors.scss';

body {
    background-color: colors.$backgroundColor;
    color: colors.$mainColor;
}

h1, h2, h3, h4, h5, h6 {
    color: colors.$titleColor;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.card_link {
    text-decoration: none;
    color: colors.$mainColor;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;

    &__content {
        background-color: colors.$white;
        width: 640px;
        height: fit-content;
        border-radius: 10px;
        overflow: visible;
        position: relative;

        &__close-button {
            position: absolute;
            top: -16px;
            right: -16px;
            width: 40px;
            height: 40px;
            z-index: 1010;
            background-color: colors.$white;
            color: colors.$buttonModalFgColor;
            border: none;
            border-radius: 50%;
            font-size: 32px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
        }

        &__header {
            width: 100%;
            height: 160px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }

        &__body {
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;

            &__title {
                text-transform: uppercase;
            }

            &__description {
                text-align: center;
            }

            &__button {
                color: colors.$buttonFgColor;
                background-color: colors.$buttonModalBgColor;
                display: block;
                width: 160px;
                padding: 10px;
                border: solid 1px colors.$buttonBgColor;
                border-radius: 32px;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 0.3s;
                text-decoration: none;
                text-align: center;

                &:hover {
                    transition: all 0.3s;
                    background-color: colors.$buttonModalBgHoverColor;
                }
            }
        }
    }
}

.no-scroll {
    overflow: hidden;
}

.header {
    background-color: colors.$white;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    &__content {
        min-width: 920px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        flex-grow: 1;
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 1px solid colors.$inputBorderColor;

        &__logo {
            width: 100px;
        }

        &__search {
            position: relative;

            &-input-wrapper {
                position: relative;
                width: 280px;
                padding-right: 20px;
            }

            &-input {
                color: colors.$inputColor;
                background-color: colors.$inputBgColor;
                border: 1px solid colors.$inputBorderColor;
                width: 100%;
                padding: 16px;
                padding-right: 40px;
                border-radius: 32px;
            }

            &-icon {
                position: absolute;
                right: 36px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
            }

        }

    }

    &__user {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;

        &-avatar {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            border: solid 2px colors.$avatarBorderColor;
            margin-right: 20px;
        }

        &-access {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__welcome {
                font-size: 0.8rem;
            }

            &__name {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        &-arrow {
            padding-left: 20px;
        }
    }

}

.banner {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;

    &__slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
        height: 100%;

        &__slide {
            height: 100%;
            flex: 0 0 100%;

            &__wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            &__content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .container {
                    width: 100%;
                }

                &__text {
                    width: 400px;
                    padding: 24px;
                    background-color: rgba($color: #000000, $alpha: 0.7);
                    color: colors.$white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h2 {
                        color: colors.$white;
                        margin-bottom: 20px;
                        text-transform: uppercase;
                    }

                    p {
                        line-height: 1.6rem;
                        margin-bottom: 20px;
                    }

                    a {
                        background-color: transparent;
                        border: solid 2px colors.$white;
                        padding: 10px 20px;
                        width: 160px;
                        text-decoration: none;
                        color: colors.$white;
                        text-align: center;
                        text-transform: uppercase;
                        border-radius: 32px;
                    }
                }
            }
        }
    }

    &__buttons {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);

        button {
            background-color: transparent;
            border: none;
            color: colors.$white;
            font-size: 4rem;
            padding: 0 48px;
            cursor: pointer;

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}

.courses {
    padding: 60px 0;

    &-title {
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 12px;
        border-bottom: 1px solid colors.$inputBorderColor;
        margin-bottom: 12px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        padding-top: 20px;

        &__course {
            width: 288px;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            &__img-container {
                width: 100%;
                height: 150px;
                overflow: hidden;
                position: relative;

                &__image {
                    width: 100%;
                    object-fit: cover;
                }

                .ribbon {
                    position: absolute;
                    top: 10px;
                    right: -30px;
                    width: 100px;
                    background-color: colors.$cardRibbonBgColor;
                    text-align: center;
                    transform: rotate(45deg);
                    z-index: 1;
                    font-size: 0.8rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding: 5px 0;
                }

            }

            &__content-container {
                width: 100%;
                padding: 16px;
                background-color: colors.$cardBgColor;

                &__title {
                    margin-bottom: 16px;
                }

                &__description {
                    margin-bottom: 24px;
                }

                &__button {
                    color: colors.$buttonFgColor;
                    background-color: colors.$buttonBgColor;
                    display: block;
                    width: 100%;
                    padding: 10px;
                    border: solid 1px colors.$buttonBgColor;
                    border-radius: 32px;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: all 0.3s;
                    text-decoration: none;
                    text-align: center;

                    &:hover {
                        transition: all 0.3s;
                        background-color: colors.$buttonBgHoverColor;
                    }
                }
            }
        }

        &__course-add {
            width: 288px;
            height: 100%;
            border: 3px dashed colors.$cardBorderColor;
            padding: 60px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &__icon {
                margin-bottom: 12px;
            }

            &__caption {
                font-size: 1.2rem;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;

                &-highlight {
                    font-size: 1.6rem;
                }
            }
        }
    }

    &__form {
        width: 60%;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__field {
            width: 100%;
            margin-bottom: 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;

            &__input {
                width: 520px;
                padding: 10px;
                border: 1px solid colors.$inputBorderColor;
                background-color: colors.$white;
                border-radius: 32px;
            }
        }

        &__button {
            color: colors.$buttonFgColor;
            background-color: colors.$buttonBgColor;
            width: 160px;
            padding: 10px;
            border: solid 1px colors.$buttonBgColor;
            border-radius: 32px;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                transition: all 0.3s;
                background-color: colors.$buttonBgHoverColor;
            }
        }
    }
}

.footer {
    background-color: colors.$white;
    padding-bottom: 20px;

    h3 {
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &__content {

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-grow: 1;
            padding: 40px 0;
            background-color: colors.$white;
        }

        &__info {

            &__logo {
                margin-bottom: 16px;
            }

            &__description {
                width: 300px;
                font-size: 0.9rem;
            }

        }

        &__contact {

            p {
                font-weight: bold;
                line-height: 1.4rem;
            }

        }

        &__social-media {

            &__icons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 16px;

                img {
                    width: 48px;
                }
            }

        }

    }

    &__copyright {
        background-color: colors.$backgroundColor;
        width: 100%;

        .container {
            padding: 10px 0;
            font-size: 0.9rem;
        }
    }
}