@use 'config/reset.scss';
@use 'config/colors.scss';

body {
    background-color: colors.$backgroundColor;
    color: colors.$mainColor;
}

h1, h2, h3, h4, h5, h6 {
    color: colors.$titleColor;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: colors.$white;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    &__content {
        min-width: 920px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        flex-grow: 1;
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 1px solid colors.$inputBorderColor;

        &__logo {
            width: 100px;
        }

        &__search {
            position: relative;

            &-input-wrapper {
                position: relative;
                width: 280px;
                padding-right: 20px;
            }

            &-input {
                color: colors.$inputColor;
                background-color: colors.$inputBgColor;
                border: 1px solid colors.$inputBorderColor;
                width: 100%;
                padding: 16px;
                padding-right: 40px;
                border-radius: 32px;
            }

            &-icon {
                position: absolute;
                right: 36px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
            }

        }

    }

    &__user {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;

        &-avatar {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            border: solid 2px colors.$avatarBorderColor;
            margin-right: 20px;
        }

        &-access {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__welcome {
                font-size: 0.8rem;
            }

            &__name {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        &-arrow {
            padding-left: 20px;
        }
    }

}

.banner {
    display: none;
}